# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\winterash2\PROJECTS\algorithm_study_2021_1\210325-210328\이동재)자바로 문제풀기 연습\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
